# vim
*~
*.swp

# images
*.img

# environment
venv

# test runs
.snakemake

# doc build
docsrc/build


# workflow solutions 
P*/Snakefile
*_solution
P3/solutions/encrypted_Snakefile

# data and results
preparations/
P3/results/*
P2/data/*
P3/data/*
_run
