# Use this file to create an environment using:
# $ conda create --name WMS -c bioconda -c conda-forge --file <this file>
bcftools==1.9
htslib==1.9
pandas==0.25.1
pygraphviz==1.3
scikit-allel==1.2.1
seaborn==0.9.0
snakemake-minimal==5.7.0
